<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Mydemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="/assets/bottom.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
	<div class="component">
		<!-- Start Nav Structure -->
		<button class="cn-button" id="cn-button">+</button>
		<div class="cn-wrapper" id="cn-wrapper">
		    <ul>
		      <li><a href="/welcome/index"><span class="icon-picture">1</span></a></li>
		      <li><a href="/welcome/index2"><span class="icon-headphones">2</span></a></li>
		      <li><a href="#"><span class="icon-home">3</span></a></li>
		      <li><a href="#"><span class="icon-facetime-video">4</span></a></li>
		      <li><a href="#"><span class="icon-envelope-alt">5</span></a></li>
		    </ul>
		</div>
		<div id="cn-overlay" class="cn-overlay"></div>
		<!-- End Nav Structure -->
	</div>  
	<%= javascript_include_tag "mydemo" %>
	<%= javascript_include_tag "polyfills" %>
</body>
</html>
